<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.vuejs.org" lang="zh-hans en">
<head>
    <meta charset="utf-8">
    <title>Mandarin Admin</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/static/admin/css/main.css" rel="stylesheet"/>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.10.2/css/all.min.css">
</head>
<body>
<th:block th:replace="admin/common :: navbar"></th:block>
<div class="modal" tabindex="-1" role="dialog" id="add-user-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add librarian account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-user-form" action="#" method="post">
                    <div class="form-group">
                        <label for="add-user-username">Username</label>
                        <input type="text" name="username" id="add-user-username" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="add-user-email">E-mail</label>
                        <input type="email" name="email" id="add-user-email" class="form-control">
                    </div>
                    <button style="display: none;" type="submit"></button>
                </form>
            </div>
            <div class="alert alert-danger" id="add-user-alert" style="display: none;"></div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="$('#add-user-form').submit()">Create account</button>
                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="edit-user-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit librarian account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-user-form" action="#" method="post">
                    <div class="form-group">
                        <label for="edit-user-username">Username</label>
                        <input type="text" name="username" class="form-control" id="edit-user-username">
                    </div>
                    <div class="form-group">
                        <label for="edit-user-email">E-mail address</label>
                        <input type="email" name="email" class="form-control" id="edit-user-email">
                    </div>
                    <button style="display: none;" type="submit"></button>
                </form>
            </div>
            <div class="alert alert-danger" style="display: none;" id="edit-user-alert"></div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="$('#edit-user-form').submit()">Save</button>
                <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 col-xl-1 sidebar">
            <nav class="sidebar-nav">
                <div class="sidebar-item">
                    <a href="/admin/profile">
                        <i class="fas fa-user"></i>
                        <span>[[${session.username}]]</span>
                    </a>
                </div>
                <div class="sidebar-item">
                    <a href="/admin">
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </a>
                </div>

                <div class="sidebar-item">
                    <a href="/admin/settings">
                        <i class="fas fa-edit"></i>
                        <span>Settings</span>
                    </a>
                </div>
                <div class="sidebar-item">
                    <a href="/admin/logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="col-10 col-xl-11 main" style="background-color: rgb(238, 245, 249);" id="app">
            <div class="content">
                <h2 class="mb-3">List of librarian accounts</h2>
                <button class="btn btn-success mb-3" data-toggle="modal" data-target="#add-user-modal">
                    Add new librarian
                </button>
                <form class="form-inline" id="form" action="#" method="post" @submit.prevent="load">
                    <select class="form-control" id="type" name="type" v-model="query.type">
                        <option value="username" selected>Username</option>
                        <option value="id">ID</option>
                    </select>
                    <input type="text" class="form-control" id="keyword" name="keyword"
                           placeholder="Type search Keyword" v-model="query.keyword">
                    <button style="margin-right: 3em;" type="submit" class="btn btn-primary">Search</button>
                </form>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Librarian ID</th>
                        <th>Username</th>
                        <th>E-mail</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="lineItem" v-for="librarian in list">
                        <td>{{librarian.id}}</td>
                        <td>{{librarian.username}}</td>
                        <td>{{librarian.email}}</td>
                        <td>
                            <ul class="actions-list" style="display: flex; list-style: none; padding: 0;">
                                <li>
                                    <a href="javascript:void(0);" v-bind:data-id="librarian.id"
                                       @click="delete_user">
                                        Delete
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" v-bind:data-id="librarian.id"
                                       @click="start_edit_user">
                                        Edit
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="footer">
                Mandarin Library Automation<br>
                NWPU SPM 2019<br>
                Group B1
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.staticfile.org/vue/2.6.10/vue.min.js"></script>
<script>
    let data = {
        list: [],
        query: {
            type: "username",
            keyword: ""
        },
        editing: {
            user_id: null
        }
    };
    var vm = new Vue({
        el: "#app",
        data: data,
        mounted: function () {
            this.load();
        },
        methods: {
            load: function () {
                var vm = this;
                $.ajax("/api/admin/users/search", {
                    method: "GET",
                    dataType: "json",
                    data: vm.query,
                    success: function (resp) {
                        vm.list = resp.data;
                    },
                    error: function (xhr) {
                        alert(JSON.parse(xhr.responseText).message);
                    }
                });
            },
            start_edit_user: function (event) {
                this.editing.user_id = event.target.dataset.id;
                let user = this.list.filter(item => {
                    return item.id === Number.parseInt(this.editing.user_id)
                })[0];
                $("#edit-user-username").val(user.username);
                $("#edit-user-email").val(user.email);
                $("#edit-user-modal").modal();
            },
            delete_user(event) {
                let vm = this;
                $.ajax({
                    url: "/api/admin/user/" + event.target.dataset.id,
                    type: "DELETE",
                    dataType: "json",
                    success: function (resp) {
                        vm.load();
                    },
                    error: function (xhr) {
                        var resp = JSON.parse(xhr.responseText);
                        alert(resp.message);
                    }
                });
            }
        }
    });

    function add_user() {
        $.ajax({
            url: "/api/admin/register",
            type: "POST",
            dataType: "json",
            data: {
                username: $("#add-user-username").val(),
                password: "00010001",
                email: $("#add-user-email").val()
            },
            success: function (resp) {
                $("#add-user-modal").modal("hide");
                $("#add-user-alert").text("").hide();
                vm.load();
            },
            error: function (xhr) {
                var resp = JSON.parse(xhr.responseText);
                $("#add-user-alert").text(resp.message).show();
            }
        });
    }

    function edit_user() {
        $.ajax({
            url: "/api/admin/user/" + vm.editing.user_id,
            type: "PUT",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify({
                username: $("#edit-user-username").val(),
                email: $("#edit-user-email").val()
            }),
            success: function (resp) {
                data.editing.user_id = null;
                $("#edit-user-modal").modal("hide");
                $("#edit-user-alert").text("").hide();
                vm.load();
            },
            error: function (xhr) {
                let resp = JSON.parse(xhr.responseText);
                $("#edit-user-alert").text(resp.message).show();
            }
        });
    }

    $("#add-user-form").bind("submit", function (event) {
        event.preventDefault();
        add_user();
    });

    $("#edit-user-form").bind("submit", function (event) {
        event.preventDefault();
        edit_user();
    })
</script>
</body>
</html>
