<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Common</title>
    <th:block th:fragment="head">
        <link th:href="@{/static/css/bootstrap.min.css}" rel='stylesheet' type='text/css'/>
        <link th:href="@{/static/admin/css/style.css}" rel='stylesheet' type='text/css'/>
        <link th:href="@{/static/admin/css/font-awesome.css}" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
              type='text/css'>
        <link rel="stylesheet" th:href="@{/static/css/icon-font.min.css}" type='text/css'/>
        <script th:src="@{/static/js/jquery-3.4.1.js}"></script>
    </th:block>
</head>
<body>
<th:block th:fragment="scripts">
    <script th:src="@{/static/admin/js/jquery.nicescroll.js}"></script>
    <script th:src="@{/static/admin/js/scripts.js}"></script>
    <script th:src="@{/static/admin/js/bootstrap.min.js}"></script>
</th:block>
</body>
</html>