<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link th:href="@{/static/css/bootstrap.min.css}" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link th:href="@{/static/css/style.css}" rel='stylesheet' type='text/css'/>
    <!-- //lined-icons -->
    <script th:src="@{/static/js/jquery-3.4.1.min.js}"></script>
    <!--clock init-->
</head>
<body>
<!--/login-->

<div class="error_page">
    <!--/login-top-->

    <div class="error-top">
        <h2 class="inner-tittle page">Mandarin</h2>
        <div class="login">
            <h3 class="inner-tittle t-inner">Admin Login</h3>
                <input type="text" placeholder="Admin name" id="username" onfocus="restore()" onblur="checkName()" class="text" >
                <input type="password" placeholder="password" onfocus="restore()" onblur="checkPass()" id="password" >
                <span class="error" style="color:#F00; font-size:15px"></span>
                <div class="submit"><input type="submit" onclick="try_login()" value="Login"></div>
        </div>
    </div>
    <!--//login-top-->
</div>

<!--//login-->
<!--footer section start-->
<div class="footer">
    <div class="error-btn">
        <a class="read fourth" href="/">Return to Home</a>
    </div>
</div>

<!--js -->
<script>
    function checkName() {
        let flag;

        if($("#username").val() === ""){
            setError("Enter admin name!");
            flag = false;
        }else {
            flag = true;
        }
        return flag;
    }

    //check whether pass is empty
    function checkPass() {

        let flag = true;

        if($("#password").val() === ""){
            flag = false;
            setError("Enter password!");
        }
        return flag;
    }

    function try_login() {
        if(!(checkName()&&checkPass())){
            return false;
        }
        $.ajax({
            url: "login",
            dataType: "json",
            type: "post",
            data: {
                "username": $("#username").val(),
                "password": $("#password").val(),
            },

            statusCode: {
                201: function (result) {
                    window.location.href = "/admin";
                },
                404: function (result) {
                    setError(result.responseJSON.message);
                },
                400: function (result) {
                    setError(result.responseJSON.message);
                },
            },
        });
    }
    //clear error info
    function restore() {
        $(".error").text("");
    }

    //set error info
    function setError(info) {
        $(".error").text(info);
    }

    $(document).keydown(function (event) {
        if (event.keyCode == "13"){
            try_login();
        }
    });
</script>

</body>
</html>