html, body {
    height: 100%;
}

body {
    background-color: rgb(238, 245, 249);
}

.main.container {
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
}

tr th {
    white-space: nowrap;
}