<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html;"/>
    <meta name="keywords" content=""/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!-- Bootstrap Core CSS -->
    <link href="/static/librarian/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom CSS -->
    <link href="/static/librarian/css/style.css" rel='stylesheet' type='text/css'/>
    <!-- Graph CSS -->
    <link href="/static/librarian/css/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet'
          type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="/static/librarian/css/icon-font.min.css" type='text/css'/>
    <!-- //lined-icons -->
    <script src="/static/librarian/js/jquery-1.10.2.min.js"></script>
    <!--clock init-->
    <!--js -->
    <script src="/static/librarian/js/jquery.nicescroll.js"></script>
    <script src="/static/librarian/js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/librarian/js/bootstrap.min.js"></script>

    <script>

        function hideElement() {
            $("#success-alert").hide();
            $("#failed-alert").hide();
            $("#spin-ring").hide();
        }

        function login() {

            $("#success-alert").hide();
            $("#failed-alert").hide();

            var account = (document.getElementById("input_account")).value;
            var alert_success = document.getElementById("success-alert");
            var alert_failed = document.getElementById("failed-alert");

            if (account == null || account == "") {
                alert_failed.innerText = "the account is null.";
                $("#failed-alert").show();
                return;
            }
            var psword = (document.getElementById("input_password")).value;

            if (psword == null || psword == "") {
                alert_failed.innerText = "the password is null.";
                $("#failed-alert").show();
                return;
            }

            $("#spin-ring").show();
            $.ajax({
                url: "/librarian/login",
                type: "post",
                data: {
                    "username": account,
                    "password": psword
                },
                success: function (XMLHttpRequest, msg) {
                    if (msg) {
                        window.location.href = "/librarian";
                    } else {
                        alert("you login successfully, but some errors occur.");
                    }
                    $("#spin-ring").hide();
                },
                error: function (msg) {
                    alert_failed.innerText = "account or password error.";
                    $("#failed-alert").show();
                    $("#spin-ring").hide();
                }
            });
        }
    </script>

</head>

<body onload="hideElement()">
<!--/login-->
<div class="error_page">
    <!--/login-top-->
    <div class="error-top">
        <h2 class="inner-tittle page">Librarian</h2>
        <div class="login">
            <h3 class="inner-tittle t-inner">Login</h3>
            <div class="buttons login">
                <ul>
                    <li><a href="#" class="hvr-sweep-to-right">user</a></li>
                    <li class="lost"><a href="#" class="hvr-sweep-to-left">admin</a></li>
                    <div class="clearfix"></div>
                </ul>
            </div>
            <form>
                <input id="input_account" type="text" class="text" placeholder="Account"/>
                <input id="input_password" type="password" placeholder="Password"/>
                <div id="success-alert" class="alert alert-success" role="alert"></div>
                <div id="failed-alert" class="alert alert-danger" role="alert"></div>
                <i id="spin-ring" class="fa fa-fw fa-spin fa-spinner"></i>
                <div><a class="btn blue btn-default" onclick="login()">Login</a></div>
                <div class="clearfix"></div>

                <div class="new">
                    <p class="sign">If you forgot your account or password ? <a href="sign.html">Ask for help</a></p>
                    <div class="clearfix"></div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer">
    <div class="error-btn">
        <a class="read fourth" href="index.html">Return to Home</a>
    </div>
    <p>Copyright &copy; 2016.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/"
                                                                                target="_blank" title="模板之家">template's
        home</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">page template</a></p>
</div>
</div>
</body>
</html>