html, body {
    height: 100%;
}

#app {
    height: 100%;
}

.row {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.main-column {
    padding: 0;
}

.sidebar {
    height: 100%;
    padding-left: 0;
    padding-right: 0;
}

.sidebar-nav {
    height: 100%;
    border-right: #e1e1e1 1px solid;
}

.sidebar-nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.sidebar-nav ul li {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.3em;
    border-bottom: #E7E7E7 1px solid;
}

.sidebar-nav ul li a {
    color: #606060;
}

.sidebar-nav ul li.active {
    box-sizing: border-box;
    border-right: 5px #FAF582 solid;
}

.search-box {
    margin-bottom: 0.4em;
}

.search-box .input-container {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.delete-warning {
    border-radius: 1.5em;
    padding: 1em;
    font-size: 1.2em;
    border: #e1e1e1 1px solid;
}

.action-buttons {
    padding-bottom: 0.3em;
}

.action-buttons button {
    padding-right: 0.5em;
}

.pager-container {
    margin-left: auto;
    margin-right: auto;
}

.module-title {
    padding-bottom: 0.2em;
    border-bottom: 1px #D1D1D1 solid;
    margin-bottom: 0.5em;
}

.book-info-row label {
    font-weight: bold;
    display: block;
}

.book-info-row .info-item {
    margin-bottom: 0.3em;
}