<!DOCTYPE html>
<html lang="zh-hans en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mandarin - User history</title>
    <th:block th:replace="reader/common :: head"></th:block>
    <style>
        .need-login-message {
            padding-top: 4em;
            padding-bottom: 4em;
            padding-left: 6em;
            padding-right: 6em;
            margin-left: auto;
            margin-right: auto;
            border: 1px #b3b7bb solid;
            border-radius: 1em;
            text-align: center;
            font-size: 1.3em;
        }
    </style>
</head>
<body>
<th:block th:replace="reader/common :: navbar"></th:block>
<div class="container main">
    <div th:if="${sessionHelper.getCurrentUser()!=null}">
        <span class="mb-1" style="font-weight: bold; font-size: 1.5em;">Outstanding amount of fine:</span>
        <span class="mb-5" style="font-size: 1.5em;">$[[${userService.getFineAmount(sessionHelper.getCurrentUser())}]]</span>
        <h2 class="mb-3">
            Your reservations
        </h2>
        <table class="table">
            <thead>
            <tr>
                <th>Record #</th>
                <th>Book ID</th>
                <th>Book title</th>
                <th>Reserved at</th>
                <th>Valid until</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="reservation : ${reservations}">
                <td th:text="${reservation.id}"></td>
                <td th:text="${reservation.book.id}"></td>
                <td th:text="${reservation.book.title}"></td>
                <td th:text="${formatter.format(reservation.time)}"></td>
                <td th:text="${formatter.format(reservation.deadline)}"></td>
                <td>
                    <ul class="actions-list" style="display: flex; list-style: none; padding: 0;">
                        <li>
                            <a href="javascript:void(0);" th:data-id="${reservation.id}"
                               onclick="cancel_reservation(this)">
                                Cancel
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2 class="mb-3">
        Your borrowing history
    </h2>
    <div th:with="user=${sessionHelper.getCurrentUser()}">
        <th:block th:if="${user!=null}">
            <table class="table">
                <thead>
                <tr>
                    <th>Record #</th>
                    <th>Book ID</th>
                    <th>Book title</th>
                    <th>Borrowed at</th>
                    <th>Returned at</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${items}">
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.book.id}"></td>
                    <td th:text="${item.book.title}"></td>
                    <td th:text="${formatter.format(item.startTime)}"></td>
                    <td th:text="${formatter.format(item.endTime)}"></td>
                </tr>
                </tbody>
            </table>
        </th:block>
        <th:block th:if="${user==null}">
            <div class="need-login-message">
                To view your borrowing history, please
                <a href="javascript:void(0);" onclick="show_login()" style="font-weight: bold;">
                    login
                </a>
                first.
            </div>
        </th:block>
    </div>
</div>
<th:block th:replace="reader/common :: scripts"></th:block>
<script>
    function cancel_reservation(e) {
        $.ajax({
            url: "/api/reader/reserve/" + e.dataset.id,
            type: "DELETE",
            dataType: "json",
            success: function (resp) {
                window.location.reload();
            },
            error: function (xhr) {
                var resp = JSON.parse(xhr.responseText);
                alert(resp.message);
            }
        });
    }
</script>
</body>
</html>