<!DOCTYPE html>
<html lang="zh-hans en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mandarin - Recover password</title>
    <th:block th:replace="reader/common :: head"></th:block>
</head>
<body>
<th:block th:replace="reader/common :: navbar"></th:block>
<div class="container main">
    <h2 class="mb-3">
        Recover password
    </h2>
    <div th:if="${!finished}">
        <form action="/recover" method="post">
            <div class="form-group">
                <label for="email-input">Your e-mail:</label>
                <input name="email" id="email-input" type="email" class="form-control">
                <button type="submit" class="btn btn-success mt-5">Recover password</button>
            </div>
        </form>
    </div>
    <div th:if="${finished}" style="font-size: 150%; text-align: center; margin-left: auto; margin-right: auto;">
        If you submitted the right email address, you should now receive a email containing your new password.
    </div>
</div>
<th:block th:replace="reader/common :: scripts"></th:block>
<script th:inline="javascript">
    function reserve_book(e) {
        $.ajax({
            url: "/api/reader/reserve",
            type: "POST",
            dataType: "json",
            data: {
                bookId: e.dataset.id
            },
            success: function (resp) {
                window.location.reload();
            },
            error: function (xhr) {
                var resp = JSON.parse(xhr.responseText);
                alert(resp.message);
            }
        });
    }

    $(document).ready(function () {
        $(".search-box [name=query]").val([[${query}]]);
        var type = [[${type}]];
        $(".search-box select[name=type]").val(type).change();
    })
</script>
</body>
</html>