<!DOCTYPE html>
<html lang="zh-hans en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mandarin - Search</title>
    <th:block th:replace="reader/common :: head"></th:block>
    <style>
        .search-box {
            margin-bottom: 0.7em;
        }
    </style>
</head>
<body>
<th:block th:replace="reader/common :: navbar"></th:block>
<div class="container main">
    <h2 class="mb-3">
        Search
    </h2>
    <th:block th:replace="reader/index :: search-box"></th:block>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Book ID</th>
                <th>ISBN</th>
                <th>Book title</th>
                <th>Author(s)</th>
                <th>Location</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr class="lineItem" th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.ISBN}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.location}"></td>
                <td>
                    <ul class="actions-list" style="display: flex; list-style: none; padding: 0;">
                        <li>
                            <th:block th:switch="${bookService.checkAvailability(book)}">
                                <th:block th:case="true">
                                    <a href="javascript:void(0);" th:data-id="${book.id}"
                                       onclick="reserve_book(this)">
                                        Reserve
                                    </a>
                                </th:block>
                                <th:block th:case="false">
                                    Not available
                                </th:block>
                            </th:block>
                        </li>
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block th:replace="reader/common :: scripts"></th:block>
<script th:inline="javascript">
    function reserve_book(e) {
        $.ajax({
            url: "/api/reader/reserve",
            type: "POST",
            dataType: "json",
            data: {
                bookId: e.dataset.id
            },
            success: function (resp) {
                window.location.reload();
            },
            error: function (xhr) {
                var resp = JSON.parse(xhr.responseText);
                alert(resp.message);
            }
        });
    }

    $(document).ready(function () {
        $(".search-box [name=query]").val([[${query}]]);
        var type = [[${type}]];
        $(".search-box select[name=type]").val(type).change();
    })
</script>
</body>
</html>