html, body {
    background: rgb(238, 245, 249);
}


.login-page {
    text-align: center;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 200px;
    background-color: #ffffff;
    border-radius: 1.5rem;
    padding-top: 2em;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
}

.admin-login-logo {
    margin-left: auto;
    margin-right: auto;
}

.admin-login-logo img {
    width: 70%;
}

.footer {
    position: relative;
    bottom: auto;
}