.sidebar {
    background-color: #052963;
}

html, body {
    height: 100%;
}

.container-fluid {
    height: 100%;
}

.row {
    height: 100%;
}

.sidebar-nav .sidebar-item {
    margin-top: 1em;
    margin-bottom: 1em;
    color: #FFFFFF;
}

.sidebar-item a {
    color: #FFFFFF;
}

.content {
    background-color: #FFFFFF;
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1.5em;
}

.main {
    padding: 1em;
}

.actions-list {
    display: flex;
    list-style: none;
    padding: 0;
}

.actions-list li {
    padding-right: 0.3em;
}